<div class="sidebar-brand">
    <div class="brand-logo">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="28" height="28" rx="8" fill="#009ef7"/>
            <path d="M8 9h5v5H8V9zm7 0h5v5h-5V9zm-7 7h5v5H8v-5zm7 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0z" fill="white"/>
        </svg>
        <span class="brand-text">PP-ERP</span>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="sidebar-nav">
        <div class="nav-section-label">Menu</div>

        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                        <polyline points="9 22 9 12 15 12 15 22"/>
                    </svg>
                </span>
                <span class="nav-text">Home</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="company">
                <span class="nav-icon">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"/>
                    </svg>
                </span>
                <span class="nav-text">Company</span>
            </NavLink>
        </div>
    </nav>
</div>
